<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ansible - Angel Marin</title>
  </head>
  <body>
    <h1 style="text-align: center;" >Hello from {{ ansible_hostname }}</h1>
    <hr style="width:90%;">
    <img src="https://truongtx.me/files/2015-04-02-vagrant-and-ansible-organize-for-reusability/thumbnail.png"
        alt="Ansible+Vagrant" class="center">
    <style media="screen">
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
    </style>
  </body>
</html>
